@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

::selection {
    background-color: #32eeee;
}

body {
    background-color: rgb(16,8,24);
    color: whitesmoke;
}

@media (prefers-reduced-motion) {
    .__logo-spin {
        -moz-animation: __logo-spin infinite 2s linear;
        -webkit-animation: __logo-spin infinite 2s linear;
        animation: __logo-spin infinite 2s linear;
    }
}

@-webkit-keyframes __logo-spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes __logo-spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.__emoji {
    font-size: 60px !important;
    background-image: -webkit-linear-gradient(90deg, rgb(61, 255, 255), #e6ff56);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 7s infinite linear;
}

.__avatar {
    border: 5px whitesmoke solid;
    border-radius: 15px;
    -webkit-box-shadow: -7px 7px 0px 0px #ffb900;
    -moz-box-shadow: -7px 7px 0px 0px #ffb900;
    box-shadow: -7px 7px 0px 0px #ffb900;
}

.__headline {
    font-weight: bolder;
    font-size: 40px;
    line-height: 50px;
    font-family: -apple-system, 'Inter', 'Space Mono';
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg)
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
        filter: hue-rotate(-360deg)
    }
}

.__icon {
    margin: 0 10px;
    color: #ffb900;
}
.__icon:hover {
    color: whitesmoke;
}

.__story {
    color: #ffb900;
    font-style: italic;
    text-decoration: underline;
}

.__story:hover {
    color: whitesmoke;
}

p {
    font-weight: 400;
    line-height: 27px;
    font-size: 20px;
    font-family: 'Space Mono';
}