---
import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
  description: string;
  idList: string;
}

const { icon, description, idList } = Astro.props;
---

<div class="flex items-center justify-center">
  <div
    id={idList}
    class="!invisible fixed bottom-6 flex w-full max-w-xs items-center rounded-lg bg-white p-4 text-zinc-500 shadow-md dark:bg-zinc-900 dark:text-zinc-400"
    role="alert"
  >
    <div
      class="inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-lg bg-zinc-200 text-zinc-500 dark:bg-zinc-600 dark:text-zinc-200"
    >
      <Icon name={icon} />
    </div>
    <div class="ms-3 text-sm font-normal">{description}</div>
  </div>
</div>
